{% extends 'swergit/main.html' %}

{% load static %}

{% block content %}

<header class="masthead" style="background-image: url({% static 'assests/img/wis.jfif' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About US</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Society of Women Engineers Rgit</h2>
       <div class = "section text-center">
<h3 class ="text-left"> Society of Women Engineer's is a Global committee which is more than just an organisation that provides movement towards equality and opportunities for Women in Engineering

SWE raises awareness of the transformative work engineers to engage in and provide solutions to problems and improve the quality of life.<br><br>

 SWE is recognized for building leadership skills, providing leadership experience, and creating opportunities for exposure to top industrial and educational leaders.

 <br><br>SWE also provides collegiate members valuable access to a unique set of resources that sets the stage for a successful career. 

The establishment of this committee will provide new roots for aspiring Women and Men Engineers to support the growth and lay a foundation with Equivalent Opportunities for all future Engineer's!</h3>

    </div>
  </div>
</div>



{% endblock content %}