{% extends 'swergit/main.html' %}

{% load static %}


{% block content%}


 <!-- Page Header -->
  <header class="masthead" style="background-image: url({{post.imageURL}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.sub}}</h2>
            <span class="meta">Posted by
              <a href="#">Swe Rgit</a></span>
              <span class="meta">on
              <a href="#">{{post.published_date}}</a></span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">{{post.title}}</h2>
       <div class = "section text-center">
<h3 class ="text-left"> {{post.text|linebreaksbr}}</h3>

    </div>
  </div>
</div>


{% endblock content%}