{% extends 'swergit/main.html' %}

{% load static %}

{% block content %}
 <!-- Page Header -->

  <header class="masthead" style="background-image: url({% static 'assests/img/contact-bg.jpg' %})">
  
    <div class="overlay"></div>
    <div class="container">
    
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? we have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>













  <!-- Main Content -->
  <div class="main main-raised">
    <div class="container">
      <div class="col-lg-8 col-md-10 mx-auto">
      <div class="section text-center">
      <h2 class="title">Our Address</h2>
      <h3>MCT's Rajiv Gandhi Institute of Technology,
Juhu Versova Link Rd, behind HDFC Bank,
Bharat Nagar, Versova, Andheri West,
Mumbai - 400053<br><h2>Contact Number</h2>
<h3> 
Shivani Mayekar : 8108631450<br>
Rahul Boddu : 8452961757<br>
Email Us :  <a href="mailto:swergit@gmail.com"</a>swergit@gmail.com</h3>

 


    
  </div>









{% endblock content %}