docutils==0.16
zipp==3.1.0
Cython==0.29.21
psycopg2==2.7.5
lxml==4.5.2
keyring==21.3.0
cffi==1.14.1
numpy==1.19.0
tornado==6.0.4
cryptography==3.2.1
pywin32==228
importlib_metadata==1.7.0
bpython==0.21
brotli==1.0.9
contextvars==2.4
cx_Oracle==8.1.0
eventlet==0.30.2
gevent==21.1.2
greenlet==1.0.0
inotify==0.2.10
ipaddr==2.2.0
ipdb==0.13.7
ipython==7.22.0
lockfile==0.12.2
mypy_extensions==0.4.3
olefile==0.46
ordereddict==1.1
PasteScript==3.2.0
protobuf==3.15.6
pylibmc==1.6.1
pyOpenSSL==20.0.1
PyQt5==5.15.4
PySide2==5.15.2
PySide6==6.0.2
python_memcached==1.59
pywatchman==1.4.1
PyYAML==5.4.1
secrets==1.0.2
setproctitle==1.2.2
tblib==1.7.0
typing_extensions==3.7.4.3
wincertstore==0.2
